name: CI/CD Workflow

on: 
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build: 

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.12']

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install CookieCutter & run setup
      run: |
        uvx cookiecutter . --no-input
    
    - name: Upload generated project
      uses: actions/upload-artifact@v4
      with:
        name: generated-project-${{ matrix.python-version }}
        path: python-boilerplate/

  build-package:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        python-version: ['3.10', '3.12']
    defaults:
      run:
        working-directory: ./python-boilerplate
    
    steps:
    - name: Download generated project
      uses: actions/download-artifact@v4
      with:
        name: generated-project-${{ matrix.python-version }}
        path: python-boilerplate/
    
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        uv sync --all-extras
        uv sync --dev
      
    - name: Run tests
      run: |
        uv run pytest
